
<body>
  <ion-app>
    <ion-content fullscreen class="ion-padding" scroll-y="false">
      <ion-slides>

        <ion-slide>
          <div class="slide">
            <h2>Bienvenue a toi nouveau utilisateur</h2>
            <p>Je suis la pour t'expliquer comment fonctionne l'application</p>
            <p>slide vers la droit pour passer a la suite</p>
          </div>
        </ion-slide>

        <ion-slide>
          <h2>Connexion</h2>
          <p>Apres ce mini tutoriel tu devra te connecté avec ton identifiant et ton mot de passe (garde les bien confidentiel)</p>
          <p>slide vers la droit pour passer a la suite</p>
        </ion-slide>

        <ion-slide>
          <h2>Menu</h2>
          <p>Tu peux acceder au menu apres t'etre connecter, tu peux aller voir les articles, la galerie, les dates importantes en appuyant sur chacun des boutons </p>
          <p>Tu peut aussi raffrechir les pages articles, galerie, et la page dates importantes en swipant vers le bas</p>
          <p>slide vers la droit pour passer a la suite</p>
        </ion-slide>

        <ion-slide>
          <h2>Et tu prêts à l'utiliser</h2>
          <ion-button expand="full" (click)="redirection()">Continuer</ion-button>
        </ion-slide>

      </ion-slides>
    </ion-content>
  </ion-app>

</body>
