
  <ng-template [ngIf]="getVerif()">
  <div class="Menu">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    
      
        <ion-header collapse="condense">
          <ion-toolbar>
   
          </ion-toolbar>
        </ion-header>
            <ion-button expand="full" (click)="opengalerie()">allez voir les galeries</ion-button>
            <ion-button expand="full" (click)="openarticle()">allez voir les articles</ion-button>
            <ion-button expand="full" (click)="opendates()">allez voir les dates</ion-button>
            <ion-button expand="full" (click)="opencontact()">Contact</ion-button>
            <ion-button expand="full" (click)="deconnection()">se déconnecter</ion-button>
  
  </div>
  </ng-template>
